<div id="filter-form">
<h3>artworks</h3>
<form method="GET" action="/">
  filter by tag:
	<input type="text" name="tag">
	<input class="submit" type="submit">
</form>
</div>

<div id="art-posts">
  {{#each posts}}
    <div class="post">
    Title: {{ title }} <br>
    Date: {{ date }} <br>
    <pre>{{ art }}</pre> <br>
    <strong>Tags:</strong>
    {{#each tag as |t|}}
    <a href="/?tag={{t}}">{{t}}</a>,
    {{/each}}
    </div>
  {{/each}}
</div>
