<h3>artworks</h3>
<form method="GET" action="/">
  filter by tag:
	<input type="text" name="tag">
	<input type="submit">
</form>

{{#each posts}}
{{ title }} <br>
{{ date }} <br>
<pre>{{ art }}</pre> <br>
Tags
{{#each tag as |t|}}
<a href="/?tag={{t}}">{{t}}</a>,
{{/each}}
<br>
{{/each}}
