<style>
img {
	width: 50px;
	height: 50px;
}
</style>
using an object
<ul>
{{#each obj}}
<li>{{ @key }} - {{ this }}</li>
{{/each}}
</ul>

list of objects
<ul>
{{#each shows}}
<li>{{ show }}</li>
{{/each}}
</ul>

<ul>
{{#each shows as |s|}}
<li>{{ s.show }}</li>
{{/each}}
</ul>

all the chars:
<ul>
{{#each favs}}
	<li>{{ this }}</li>
{{/each}}
</ul>

<ul>
{{#each favs as |fav|}}
	<li>{{ fav }}</li>
{{/each}}
</ul>


<h2>an image of my fav char</h2>
<img alt="pepppppp" src='/img/pepbut.png' />

another two characters that i like care:

<br>
{{ character1 }}
<br>
{{ character2 }}
